<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Translations</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  <nav class = "siteLinks">
    <div class="navlink"><a id="gameButton" href="/translations">Translators</a></div>
    <div class="navlink"><a id="gameButton" href="/game">Placeholder for Game</a></div>
    <div class="navlink"><a id="logoutButton"href="/logout">Log out</a></div>
  </nav>

  <h1>This is a placeholder for where my kanji searcher will be</h1>

  <a href="https://people.rit.edu/~ncs2738/330/Project2/Project2.html">Link to app</a>

  <script src="/assets/kanjiBundle.js"></script>
</body>
</html>