<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Translations</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
</head>
<body>

  <nav class = "siteLinks">
    <div class="navlink"><a id="gameButton" href="/game">Typing Game</a></div>
    <div class="navlink"><a id="passwordButton"href="/password">Update Password</a></div>
    <div class="navlink rightNav"><a id="logoutButton"href="/logout">Log out</a></div>
    <div class="navlink rightNav">Logged in as: {{username}}</div>
  </nav>

  <nav class = "appLinks">
    <div class="navlink"><a id="dateButton" href="/getDate">Date</a></div>
    <div class="navlink"><a id="numberButton" href="/getNumber">Number</a></div>
    <div class="navlink"><a id="textButton" href="/getText">Text</a></div>
  </nav>

<div class="container-fluid" id="translators">
    <div class="col-4 align-self-start" id="searchedData">

      <section id="translationInput"></section>

      <section id="translationOutput"></section>

      <section id="errorMessage"></section>
    </div>

    <div class="col-5 align-self-start"  id="savedData">
      <section id="savedTranslations"></section>
    </div>
</div>

  <script src="/assets/translatorsBundle.js"></script>
</body>
</html>