<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Update Password</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
</head>
<body> 
  <nav class = "siteLinks">
    <div class="navlink"><a id="translatorsButton" href="/translations">Translators</a></div>
    <div class="navlink"><a id="gameButton" href="/game">Typing Game</a></div>
    <div class="navlink rightNav"><a id="logoutButton"href="/logout">Log out</a></div>
    <div class="navlink rightNav">Logged in as: {{username}}</div>
  </nav>
  <section id="content"></section>
  <section id="errorMessage"></section>

  <script src="/assets/passwordBundle.js"></script>
</body>
</html>